# Please download the proper compiled version of numpy and gdal
#   from https://www.lfd.uci.edu/~gohlke/pythonlibs/
# numpy >= 1.10
# gdal >=1.9.0
# matplotlib >=1.5.0

# typing, future, and six are set in setup.py

# development specific requirements
wheel
pytest>=3.1.0
pytest-cov>=2.2.0
sphinx==1.5.1
sphinx-rtd-theme
recommonmark